/* MAIN CONTENT  */
.content {
  margin: auto 14.2rem;
}

.main {
  background-color: var(--card-background);
  height: 100vh;
  width: 802px;
}

/* HEADER */
header {
  display: flex;
  background-color: var(--black);
  border-radius: 10px;
  height: 7.2rem;

  align-items: center;
  justify-content: space-between;
}

header > h1 {
  color: var(--gray);
  font: 700 3rem var(--title-font);
  padding-left: 8.8rem;
}

header > h1 > strong {
  color: var(--blue-soft);
}

header > nav {
  font: 400 1.6rem var(--body-font);
  padding-right: 1.6rem;
  display: flex;
}

header > nav > a {
  padding: 0.8rem 2.4rem;
  color: var(--white-letter);
  border-radius: 16px;
  transition: 0.3s;
}

header > nav > a.active {
  background-color: var(--blue-selector);
}

header > nav > a:hover {
  color: var(--blue-soft);
}

header > nav > a.active:hover {
  background-color: var(--white-letter);
}
