/* MAIN BACKGROUND CONTENT */
.content {
  margin: auto 14.2rem;
}

.main {
  background-color: var(--card-background);
  height: 100%;
  width: 802px;

  border-radius: 8px;
}

/* HEADER */
header {
  display: flex;
  background-color: var(--black);
  border-radius: 10px;
  height: 7.2rem;

  align-items: center;
  justify-content: space-between;
}

header > h1 {
  color: var(--gray);
  font: 700 3rem var(--title-font);
  padding-left: 8.8rem;
}

header > h1:hover {
  color: var(--green-soft);
}

.logo {
  color: var(--blue-soft);
}

.logo:hover {
  color: var(--gray);
}

header > nav {
  font: 400 1.6rem var(--body-font);
  padding-right: 1.6rem;
  display: flex;
}

header > nav > a {
  padding: 0.8rem 2.4rem;
  color: var(--white-letter);
  border-radius: 16px;
  transition: 0.3s;
}

header > nav > a.active {
  background-color: var(--blue-selector);
}

header > nav > a:hover {
  color: var(--blue-soft);
}

header > nav > a.active:hover {
  background-color: var(--white-letter);
}

/* MAIN */
main {
  margin-left: 2.4rem;
  margin-top: 4rem;
  margin: 4rem 0 2.4rem 2.4rem;
}
main > h1 {
  font: 700 3.4rem var(--body-font);
  color: var(--white-letter);
}

/* CALENDAR */
.container-calendar {
  width: 75.4rem;
  height: 42.8rem;

  margin-top: 4rem;
  font: 400 1.6rem var(--body-font);
  background-color: var(--black);

  border-radius: 8px;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calendar {
  height: 31.6rem;
  width: 64.8rem;

  color: var(--white-letter);

  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--white-letter);
}

.month {
  width: 100%;

  margin-top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2.2rem;
}

.month > i {
  color: var(--blue-soft);
  cursor: pointer;

  position: absolute;
}

.month > i.prev {
  top: 40rem;
  left: 27.5rem;
}

.month > i.next {
  /* background-color: white; */
  top: 40rem;
  right: 55rem;
}

.weekdays {
  width: 27.2rem;

  height: 1.6rem;

  margin-top: 1rem;

  display: flex;
  /* justify-content: space-between; */
}

.weekdays > div {
  display: flex;

  margin-right: 1.3rem;
  align-items: center;
  justify-content: center;
}

.weekdays div:last-child {
  padding-left: 0.7rem;
}

.weekdays div:nth-child(5) {
  padding-right: 0.3rem;
}

.days {
  /* background-color: white; */
  width: 40rem;
  height: 20rem;

  display: flex;

  margin-top: 1.6rem;
  padding-left: 6rem;
  padding-right: 1rem;

  gap: 0.55rem;
  flex-wrap: wrap;
}

.days > div {
  width: 3.2rem;
  height: 3.2rem;

  display: flex;
  margin-right: 0.5rem;

  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.days > div:hover {
  background-color: var(--green-medium);
  color: var(--green-soft);

  border: 0.2rem solid var(--green-light);
  border-radius: 100%;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

/* CARDS */
.cards {
  width: 75.4rem;
  height: 6.4rem;

  border-radius: 8px;

  margin-top: 1.6rem;

  display: flex;
  justify-content: space-between;
}

.cards > div {
  height: 100%;
  border-radius: 10px;
  background-color: var(--black);

  color: var(--white-letter);
  font: 400 1.6rem var(--body-font);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 1.6rem;
}

.location-card {
  width: 30.3rem;
}

.date-card {
  width: 20.6rem;
}

.quantity-card {
  width: 22.9rem;
}

.location-card > img,
.date-card > img,
.quantity-card > img {
  transition: 0.3s;
}

.location-card > img:hover,
.date-card > img:hover,
.quantity-card > img:hover {
  transform: translateY(-8px);
}

/* TIMES SECTION */
.timetable {
  width: 75.4rem;
  height: 7.2rem;

  margin-top: 1.8rem;

  display: flex;

  color: var(--white-letter);
  font: 400 1.6rem var(--body-font);
}

.timetable > div {
  height: 100%;
  border-radius: 8px;
}

.text {
  width: 30.3rem;

  font-size: 2.4rem;
  font-weight: 700;
}

.text span {
  color: var(--gray);
  font-size: 2rem;
  font-weight: 500;
}

div.timetable-card {
  width: 20.6rem;
  height: 6.4rem;
  background-color: var(--black);

  margin-left: 0.8rem;
  padding-left: 1.4rem;
  padding-right: 1.8rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timetable .config {
  height: 6.4rem;
  width: 22.9rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 0.8rem;
  background-color: var(--black);
}
